.hover-area {
  background-color: transparent;
  min-width: 1px;
}

.sidebar {
  background-color: #1e1e2e;
  color: white;
  padding: 20px;
  border-radius: 12px 0 0 12px;
  min-width: 250px;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);
}

