[Unit]
Description=CAVA to RAM file for Hyprlock visualizer
After=default.target

[Service]
ExecStart=/home/tristan/.config/scripts/cava_to_file.sh
Restart=always

[Install]
WantedBy=default.target
