[Unit]
Description=store volume in cache
After=graphical-session.target

[Service]
PassEnvironment=XDG_RUNTIME_DIR DBUS_SESSION_BUS_ADDRESS WAYLAND_DISPLAY
ExecStart=/bin/bash /home/tristan/.config/scripts/storevolume.sh
Restart=always

[Install]
WantedBy=default.target
