/* ================================
   Fallback colors for Pywal
   ================================ */
@define-color background rgb(30,30,46);
@define-color foreground rgb(205,214,244);
@define-color color7 rgb(215,226,230);
@define-color color9 rgb(60,115,139);



/* ================================
   Your Waybar styling
   ================================ */
* {
    font-size: 18px;
    font-family: "Agave Nerd Font Propo";
}


window#waybar {
    all: unset;
}


.modules-left,
.modules-center,
.modules-right {
    padding: 7px 10px;
    margin: 10px 10px 5px 10px;
    border-radius: 10px;
    background: rgba(30,30,46,0.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}


/* Tooltip */
tooltip {
    background: rgb(30,30,46);
    color: rgb(215,226,230);
}


/* Hoverable modules */
#clock:hover,
#custom-pacman:hover,
#custom-notification:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover {
    transition: all .3s ease;
    color: rgb(60,115,139);
}


/* Clock, notification, and pacman */
#clock, #custom-notification, #custom-pacman,
#bluetooth, #network, #battery, #cpu, #memory, #temperature, #mpris {
    padding: 0px 5px;
    color: rgb(215,226,230);
    transition: all .3s ease;
}


/* Battery states */
#battery.charging { color: #26A65B; }
#battery.warning:not(.charging) { color: #ffbe61; }
#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


/* Workspaces */
#workspaces { padding: 0px 5px; }
#workspaces button {
    all: unset;
    padding: 0px 5px;
    color: rgba(60,115,139,0.4);
    transition: all .2s ease;
}
#workspaces button:hover { 
    color: rgba(0,0,0,0); 
    border: none; 
    text-shadow: 0px 0px 1.5px rgba(0,0,0,.5); 
    transition: all 1s ease; 
}
#workspaces button.active { 
    color: rgb(60,115,139); 
    border: none; 
    text-shadow: 0px 0px 2px rgba(0,0,0,.5); 
}
#workspaces button.empty { 
    color: rgba(0,0,0,0); 
    border: none; 
    text-shadow: 0px 0px 1.5px rgba(0,0,0,.2); 
}
#workspaces button.empty:hover { 
    color: rgba(0,0,0,0); 
    border: none; 
    text-shadow: 0px 0px 1.5px rgba(0,0,0,.5); 
    transition: all 1s ease; 
}
#workspaces button.empty.active { 
    color: rgb(60,115,139); 
    border: none; 
    text-shadow: 0px 0px 2px rgba(0,0,0,.5); 
}


/* Tray */
#tray,
#tray menu *,
#tray menu separator {
    padding: 0px 5px;
    transition: all .3s ease;
}


/* Custom expand module */
#custom-expand {
    padding: 0px 5px;
    color: rgba(215,226,230,.2);
    text-shadow: 0px 0px 2px rgba(0,0,0,.7);
    transition: all .3s ease;
}
#custom-expand:hover {
    color: rgba(255,255,255,.2);
    text-shadow: 0px 0px 2px rgba(255,255,255,.5);
}

/* Custom cava module */
#custom-cava {
    padding: 0px 5px;
    transition: all .3s ease;
    color: rgb(215,226,230);
}
#custom-cava:hover {
    color: rgb(60,115,139);
}


/* Custom endpoint & color picker */
#custom-endpoint { color: transparent; text-shadow: 0 0 1.5px rgba(0,0,0,1); }
#custom-colorpicker { padding: 0px 5px; }

#custom-wayves_left,
#custom-wayves_right {
  color: #BCD9E9;
}
